/* initialize  ennvironment*/
* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    /*automatically channge  bbased  onn what in  the wrapper*/
    height: auto;
    /*center based onn left and right margin */
    margin: 0 auto;
    border: 2px solid black;
}

header {
    /* flex makes height working*/
    display: flex;
    height: 540px;
}

header  img {
    /* displays like <p>*/
    width: 100%;
}

nav {
    background-color: #20292b;
}

nav ul {
    list-style-type: none;
    /*to organize content*/
    display: flex;
    /*to make responsive ul responsive*/
    flex-wrap: wrap;
}

nav ul li {
    border: 1px solid #f5f5f5;
    flex: 1 0 auto;
}

nav ul li a {
    /*takes width of parent*/
    display: block;

    text-decoration: none;
    /*chan*/
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul li a:hover {
    background-color: aqua;
}

section {
    display: flex;
}

article{
    padding: 10px;
    border: 1px solid;
    margin: 1px;
}

article h2 {
    text-align: center;
}

aside {
    padding: 10px;
    border: 1px solid;
    margin: 1px;
}

aside h1{
    text-align: center;
} 


footer {
    background-color: #20292b;
    display: flex;
    flex-flow: row wrap;
}

footer p {
    flex: 5 1 auto;
    color: white;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
}

footer ul li {
    flex: 1 1 auto;
    border: 1px solid white;
}
footer ul li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
}

footer ul li a:hover{
    background-color: bisque;
}

@media screen and (max-width: 650px) {
    section {
        flex-flow: column;
    }
}

@media screen and (max-width: 530px) {
    nav ul {
        flex-flow: column;
    }
    footer {
        flex-direction: column-reverse;
    }
    footer ul{
        flex-direction: column;
    }
}